@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #222;
    --text-color: #f0f0f0;
}

* {
    margin: 0;
}

.topbar__menu{
    background-color: var(--primary-color);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;

    a svg{
        width: 250px;
        height: 25px;
        cursor: pointer;
    }
}

.topbar__icons {
    display: flex;
    
    svg{
        cursor: pointer;
    }
}

.topbar__icons *:first-child {
    padding-right: 15px;
}

